<div class="players-container">
  <div *ngFor="let player of players$ | async" class="player">
    <app-player-info [player]="player" *ngIf="player" />
    <app-person-card [person]="player.person" *ngIf="player.person" />
    <app-starship-card [starship]="player.starship" *ngIf="player.starship" />
  </div>
</div>

<div class="control-container">
  <button
    mat-raised-button
    color="primary"
    class="play-button"
    (click)="handlePlayButton()"
  >
    Play
  </button>
  <app-resource-dropdown
    (selectedOptionChange)="handleSelectedOption($event)"
  />
</div>
